<% if(messages.error) { %>
    <h3>Oh no... Something has gone wrong!</h3>

    <ul>

    <% if (messages.error[0].errors !== undefined) { %>

        <% messages.error[0].errors.forEach((err) => { %>
            <li><p><%= err.message %></p></li>
        <% }) %>

    <% } else if (typeof(messages.error[0]) === "string") {  %>
        <% for (let i = 0; i < messages.error.length; i ++) { %>
            <li><p><%= messages.error[i] %></p></li>
        <% } %>
    <% } %> 

    </ul>
    
<% } else if (messages.notice) { %>
    <h3>Notice!</h3>

    <ul>

    <% if (messages.notice[0].notices !== undefined) { %>

        <% messages.notice[0].notices.forEach((err) => { %>
            <li><p><%= err.message %></p></li>
        <% }) %>

    <% } else if (typeof(messages.notice[0]) === "string") {  %>
        <% for (let i = 0; i < messages.notice.length; i ++) { %>
            <li><p><%= messages.notice[i] %></p></li>
        <% } %>
    <% } %> 

    </ul>
<% } %>