<!DOCTYPE html>
<html lang="en">
    <head>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            
            <title>Blocipedia</title>
            
            <link rel="stylesheet" href="/css/application.css">
    </head>
    <main>

        <!-- HEADER ---------------------------------------------------------- -->
        <header>
            <% include ./partials/navbar %>
            <% include ./partials/header %>
        </header>

        <!-- BODY ------------------------------------------------------------ -->
        <body>
            <% include ./partials/messages %>
            <a href="/wikis">Articles</a><br> <!--fix this br-->
            
            <% if (currentUser) { %>
                <a href="/users/<%= currentUser.id %>/admin">Make me an Admin!</a>
            <% } %>

        </body>
        
        <!-- FOOTER ---------------------------------------------------------- -->
        <footer>

        </footer>
    </main>
</html>