<!DOCTYPE html>
<html lang="en">
    <head>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            
            <title>Blocipedia</title>
            
            <link rel="stylesheet" href="/css/application.css">
    </head>
    <body>

        <!-- HEADER ---------------------------------------------------------- -->
        <header>
            <% include ./partials/navbar %>
            <% include ./partials/header %>
        </header>

        <!-- MAIN ------------------------------------------------------------ -->
        <main>
            <% include ./partials/messages %>
            <a href="/wikis">Articles</a><br> <!--fix this br-->
            
            <% if (currentUser) { %>
                <a href="/users/<%= currentUser.id %>/admin">Make me an Admin!</a><br> <!--fix this br-->
                <% if (currentUser.role === "pro") { %>
                    <a href="/stripe/<%= currentUser.id %>/makeMember">Downgrade from Pro user</a>
                <% } else { %>
                    <a href="/stripe/<%= currentUser.id %>/pro">Make me a Pro user</a><br>
                <% } %>
            <% } %>


        </main>
        
        <!-- FOOTER ---------------------------------------------------------- -->
        <footer>

        </footer>
    </body>
</html>