<!DOCTYPE html>
<html lang="en">
    <head>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            
            <title>Blocipedia</title>
            
            <link rel="stylesheet" href="/css/application.css">
    </head>
    <main>

        <!-- HEADER ---------------------------------------------------------- -->
        <header>
            <% include ./partials/header %>
        </header>

        <!-- BODY ------------------------------------------------------------ -->
        <body>
            <a href="/users/sign_up">Sign Up</a>
        </body>
        
        <!-- FOOTER ---------------------------------------------------------- -->
        <footer>

        </footer>
    </main>
</html>