<!DOCTYPE html>
<html>
<!--head-->
    <head>
        <title>Blocipedia</title>
    </head>

    <body>
<!--header-->
        <header>
            <% include ../static/partials/navbar.ejs %>
            <% include ../static/partials/header.ejs %>
            <% include ../static/partials/messages.ejs %>
        </header>
<!--main-->
        <main>

            <form action="/users/sign_in/login" method="POST">
                
                <div>
                    <label for="username">Username</label>
                    <input type="test" name="username" placeholder="Enter Username">
                </div>

                <div>
                    <label for="password">Password</label>
                    <input type="test" name="password" placeholder="Enter Password">
                </div>

                <button type="submit">Sign In</button>

            </form>
        </main>
<!--footer-->
        <footer>

        </footer>

    </body>
</html>